.container() {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media @tablet-widths {
    width: 768px;
    margin: 0 auto;
  }

  @media @desktop-widths {
    width: 1200px;
    margin: 0 auto;
  }
}

.orange-line() {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  background-color: @orange-base;
  top: 50%;

  @media @tablet-widths {
    width: 70px;
  }

  @media @desktop-widths {
    width: 100px;
  }
}

.blue-line() {
  position: absolute;
  content: "";
  width: 767px;
  height: 2px;
  background-color: @blue-light;
  top: 50%;

  @media @tablet-widths {
    width: 70px;
  }

  @media @desktop-widths {
    width: 100px;
  }
}

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
