.about-us {
  background-color: @blue-base;
}

.about-us__info {
  .container();
}

.about-us__header {
  color: #ffffff;
}

.about-us__subtitle {
  color: #ffffff;
}

.about-us__img {
  display: none;
}

.about-us__text {
  padding: 10px 20px 40px;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
