.button {
  display: block;
  margin: 0 auto;
  padding: 8px 15px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white-base;
  background-color: @orange-base;
  border-bottom: 5px solid @gray-dark;
  font-size: 11px;
  line-height: 18px;
}
