.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white-base;
  background-color: @orange-base;
  border-bottom: 5px solid @gray-dark;
  font-size: 11px;
  line-height: 18px;
  white-space: normal;

  &:hover {
    background-color: #d36117;
    border-bottom: 5px solid #4a525c;
  }

  &:active {
    color: #e0905c;
  }

  @media @tablet-widths {
    font-size: 14px;
    line-height: 22px;
  }

  @media @desktop-widths {
    font-size: 18px;
    line-height: 32px;
  }
}
