.modal-services {
  .container();
  width: 280px;
}

.modal-services__repair {
  width: 290px;
  margin: 0 auto;
  z-index: 3;
  display: none;
  top: 10%;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0px 25px @blue-base;
  box-sizing: border-box;
  position: fixed;

  &--show {
    display: block;
  }
}

.modal-services__wrapper {
  position: relative;
}

.modal-services__text {
  overflow: scroll;
  height: 300px;
}

.modal-services__button {
  display: block;
  position: absolute;
  z-index: 4;
  background-color: #ffffff;
  right: 5px;
  top: 20px;
}
