.page-footer {
  background-color: @blue-base;
  padding-top: 35px;

  @media @tablet-widths {
  }

  @media @desktop-widths {
  }
}

.page-footer__wrapper {
  .container();
}

.page-footer__button {
  margin: 0 auto 30px;
  padding: 8px 25px;

  @media @desktop-widths {
    padding: 10px 30px;
  }
}
